body {

  margin: 0;
  padding: 0;
}

.section {
  height: 1450vh;
  background-color: #362b2e;

}

.float-left {
  left: 0%;
  height: 100vh;
  width: 21%;
  position: fixed;
  background-color: #3f3a3b;

}

.float-right {
  float: right;
  height: 100vh;
  width: 80%;
  background-color: rgb(253, 253, 253);
}

.control {
  display: flex;
  margin-top: 130px;
  text-align: center;
  color: white;
  vertical-align: center;
  align-items: center;



}
.sidebarrr2 {
  padding-left: 50px;
  padding-top: 40%;

}
.bar1:hover {
  color: white;

}

.bar2:hover {
  color: white;
}

.bar3:hover {
  color: white;
}

.bar4:hover {
  color: white;
}

.bar5:hover {
  color: white;
}

.bar6:hover {
  color: white;
}

.icon-bar {
  color: rgb(209, 15, 15);
  margin: 30px 0px 0px 20px;
  font-size: 21px;
}

.txt1 {
  margin-top: 30px;
  margin-left: 45%;
  font-size: 80px;
  color: #f7827a;
  line-height: 19px;
}

.control .line {
  width: 100px;
  height: 4px;
  background: #fff;
  margin-left: 35px;
  margin-top: -13px;
}

.pt {
  color: white;
  margin-top: 200px;
  margin-right: 190px;
}

.p1 {
  margin-left: 56px;
  padding-left: 42px;
  margin-right: -29px;
  color: #f7827a;
}

.fa-solid {
  color: white;
  margin-left: 10px;
  color: white;
  left: 37px;
  position: absolute;
  top: 37px;
}

.name {
  color: #f7827a;
  margin-left: 30px;

}

.name1 {

  padding-top: -15px;
  margin-top: -15px;
  margin-left: 30px;
}

.profile {
  margin-left: 25px;
  line-height: 16px;
  margin-top: 84px;
  margin-bottom: -29px;

}

.left {
  float: left;
}

.right {
  float: right;
  /* background-image: url(../images/baap.png */

  height: 100vh;
  width: 55%;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  margin-top: 90px;
  margin-left: 20%;
  color: rgb(114, 101, 101);
}

.txt {
  margin-top: 35px;
  margin-left: 25%;
  font-size: 80px;
  color: #f7827a;
}

.text2 {
  margin-top: 30%;
  margin-left:80px;
  color: rgb(160, 130, 130);
  font-size: 23px;
}

.span {
  margin-top: 100px;
  color: rgb(110, 95, 95);
  letter-spacing: 2px;
  font-size: 16px;
  margin-left: 5%;
}

span:hover {
  opacity: 0.5;
}

.main {
  margin-left: 25%;
}

.box {
  height: 40vh;
  width: 100%;
  margin-top: 20%;
  background-color: #493b3f;
}

.box1 {
  height: 40vh;
  width: 100%;
  margin-top: 20%;
  background-color: #493b3f;
}

.icon {
  color: #faa6bb;
  font-size: 50px;
  margin-top: 70px;
}

.icn {
  color: #faa6bb;
  font-size: 50px;
  margin-left: 30px;
  margin-top: 20px;
}

.h1 {
  color: #f7827a;
  margin-left: 20px;
}

.side {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #f78da7;
  transition: 0.4s;
  width: 0px;
}
.cross{
  border: none;
  background-color: #f78da7;
  margin-top: 30px;
  margin-left: 16px;
}

.close {
  /* float: right; */
  font-size: 0px;
  cursor: pointer;
  margin-right: 39%;
}

.font22 {
  color: rgb(194, 153, 153);
  margin-left: 15px;
  font-size: 16px;
}

.h2 {
  color: rgb(194, 153, 153);
  margin-left: 10px;
}

.btnn {
  height: 50px;
  width: 210px;
  border-radius: 35px;
  font-size: 20px;
  color: white;
  border: 1px solid #f7827a;
  background-color: #362b2e;
}

.font1 {
  font-size: 26px;
  color: #a18081;
}

.font2 {

  font-size: 17px;
  color: #a18081;
}

.font3 {


  font-size: 17px;
  color: #a18081
}

.btnnn {
  height: 50px;
  width: 190px;
  border-radius: 60px;
  margin-top: 40px;
  font-size: 20px;
  color: white;
  border: 1px solid #f7827a;
  background-color: #362b2e;

}

.btnn:hover {
  background-color: #f7827a;

}

.btnnn:hover {
  background-color: #f7827a;
}

.dropdown {

  margin: 7% 7% 0% 110vh;
  
}

.ico {
  color: #f7827a;
  font-size: 20px;
}

.container {
  position: relative;
  width: 100%;
}

/* .image {
  display: block;
  width: 100%;
  height: auto;
} */

.overlay {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 100%;
  width: 0;
  transition: .5s ease;
  background-color: #ff7979;
}

.container:hover .overlay {
  width: 98%;
}

.text5 {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 90%;
  left: 20%;
  /* -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.clr {
  color: #a18081;
  margin-top: 52px;
}

.c-timeline__item {
  position: relative;
   display: flex;
  gap: 1.9rem;
}

.c-timeline__item:last-child .c-timeline__content:before {
  display: none;
}

.c-timeline__content {
  flex: 1;
  position: relative;
  order: 1;
  padding-left: 1.7rem;
  padding-bottom: 4rem;
}

.c-timeline__content:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #f7827a;
}

.c-timeline__content:after {
  content: "";
  position: absolute;
  left: calc(0px - 21px);
  top: 0;
  width: 40px;
  height: 40px;
  background-color: #362b2e;
  z-index: 1;
  border: 3px solid #f7827a;
  border-radius: 50%;

}

.c-timeline__title {
  /* font-weight: bold; */
  font-size: 15px;
  margin-bottom: 0.5rem;
  color: #a18081;
  margin-left: 0px;
  margin-top: 0px;
}

.c-timeline__title:hover {
  color: rgb(247, 240, 240);
  cursor: pointer;
}

.c-timeline__desc {
  color: grey;
}

time {
  text-align: end;
  flex: 0 0 100px;
  min-width: 0;
  overflow-wrap: break-word;
  padding-bottom: 1rem;
  color: #a18081;
  /* margin-right:0%; */
}

time:hover {
  color: rgb(248, 242, 242);
  cursor: pointer;
}


.wrapper {
  max-width: 1000px;
  margin: 2rem auto 0;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* *:before,
*:after {
  box-sizing: border-box;
}

@keyframes growProgressBar {

  0%,
  33% {
    --pgPercentage: 0;
  }

  100% {
    --pgPercentage: var(--value);
  }
}

@property  --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 12rem;
  --fg: #f7827a;
  --bg: #5a5858;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 60%;
  display: grid;
  place-items: center;
  background:
    radial-gradient(closest-side, #362b2e 70%, transparent 0 99.9%, #362b2e 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}

.progress {
  width: 60%;
  margin-top: 60px;
}

.pp {
  color: #805e54;
  position: absolute;
  left: 70%;
  font-size: 35px;
}

.mm {
  margin-top: 10px;
  color: #b17d74;
}

.gg {
  margin-top: 120px;
  color: #f7827a;
}

.pratu {
  color: #a77e80;
  margin-top: 55px;
}

.boxxx {
  height: 85%;
  width: 90%;
  margin-top: 140px;
  background-color: #f7827a;
}

.pro {
  color: #fff;
}

.addr {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
  outline: 0;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}

::placeholder {
  color: white;
}

.addrr {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
  outline: 0;
  width: 80%;
  margin-left: 10%;
  margin-top: 15%;
}

.addrrr {
  background-color: transparent;
  border: none;

  outline: 0;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}

.button {
  margin-top: 10%;
  margin-left: 10%;
  height: 70px;
  width: 80%;
  color: #fff;
  letter-spacing: 5px;
  border: 3px solid #fff;
  background-color: #f7827a;
}




@media screen and (max-width:600px) {
  .float-left {

    display: none;
  }
  .right {

    display: none;
  }
  .section {
    width: 630px;
  }

   .box{
    display: block !important;
    width: 100% !important;
  }
  .box1{
    display: block !important;
  } 
 
  .wrapper{
    /* width: 100%; */
    margin-left: -100px;
  }
   body{
    width: 100%;
   }
}


